body {
    margin: 50px;
    background-color: #efefef;
}
.app {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .orgChart {
    margin-top: 20px;
  }
  
  .employee {
    cursor: pointer;
    font-size: 20px;
    border-color: aqua;
    border-width: 1px;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #ff00ff;
  }
  
  .selected {
    color: red; 
  }

.searchInput {
    height: 50px;
    width: 400px;
    font-size: 16px;
    border-radius: 5px;
    border-color: blueviolet;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

.employeeList {
    list-style-type: none;
    margin-bottom: 50px;
}
  
.employeeListEl {
    font-size: 16px;
    margin-bottom: 10px;
}