.body {
    font: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.title {
    font-size: 40px;
    color: #f03333;
    line-height: 1.2;
    text-transform: uppercase;
}

.subtitle {
    font-size: 30px;
    color: #12ac11;
    line-height: 1.2;
}

.list {
    font-size: 20px;
    color: #444;
    font-style: oblique;
    list-style-type: square;
}
