* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 900px;
    width: 100%;
    margin: 70px auto;
    box-shadow: 0 2px 30px 0 rgb(21 20 53 / 30%);
    padding: 55px 30px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    gap: 50px;
}

.header__title {
    font-family: sans-serif;
    font-size: 40px;
    margin-right: auto;
    color: #262E73;
    line-height: normal;
}

.header__nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding: 12px 0 1px;
    box-sizing: border-box;
}

.nav__el {
    font-family: sans-serif;
    font-size: 20px;
    color: #363636;
    text-decoration: none;
    line-height: normal;
}

.nav__el:hover {
    font-family: sans-serif;
    font-size: 20px;
    color: #4E544B;
    text-decoration: none;
    line-height: normal;
}

.active {
    color: #828282;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__title {
    font-family: sans-serif;
    font-size: 27px;
    color: #262E73;
}

.main__description {
    font-family: sans-serif;
    font-size: 18px;
    color: #262E73;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__label {
    font-family: sans-serif;
    font-size: 20px;
    color: #262E73;   
}

.form__input {
    border-radius: 5px;
    border: 1px solid #262E73;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
}

.form__button {
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
    width: 342px;
    height: 52px;
    border-radius: 5px;
    background: #0BBBC6;
    box-shadow: 0 2px 4px 0 rgb(38 46 115 / 10%);
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.form__button:hover {
    background: #0BBBDD;
}

.model-response {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}