#stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.stack-item {
    width: 50px;
    height: 50px;
    background-color: blue;
    border: 1px solid #000;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
